@import "colors.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 4px;
  font-family: Roboto Mono Nerd Propo;
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  font-weight: bolder;
  opacity: 1.0;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.empty.active {
  opacity: 1.0;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power {
  min-width: 12px;
  margin: 0 7.5px;
  font-weight: bold;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}
